Developeuse web & web mobile
Passionnée par le code et créative dans l'âme, je transforme des idées innovantes en solutions numériques performantes. Découvrez mon parcours et mes projets.
Marmiton

Diplômé d'un titre professionnel en développement web et web mobile (Bac+2 - Niveau 5), je suis une jeune développeuse plein d'enthousiasme et avide de mettre mes compétences au service de projets innovants.Animée par une forte curiosité pour l'informatique et les métiers d'avenir, j'ai décidé de me lancer dans le développement web. Ma créativité et mon esprit d'analyse me permettent de trouver des solutions innovantes et de cerner les besoins des utilisateurs. De nature bilingue anglais/français, je suis à l'aise dans les environnements multiculturels et m'adapte facilement à de nouveaux contextes. </p>
            
            Je suis une personne dynamique et bienveillante, capable de m'intégrer rapidement au sein d'une équipe et de contribuer activement aux brainstormings. Mon sens du travail en autonomie me permet également d'évoluer de manière indépendante et de mener à bien mes missions avec professionnalisme.

              En dehors du travail, je suis une personne simple qui apprécie les plaisirs de la vie. Je profite de mon temps libre pour me consacrer à ma famille, pratiquer du sport et découvrir de nouveaux horizons à travers les voyages.</p>


 Je suis une personne dynamique et bienveillante, capable de m'intégrer rapidement au sein d'une équipe et de contribuer activement aux brainstormings. Mon sens du travail en autonomie me permet également d'évoluer de manière indépendante et de mener à bien mes missions avec professionnalisme.

              En dehors du travail, je suis une personne simple qui apprécie les plaisirs de la vie. Je profite de mon temps libre pour me consacrer à ma famille, pratiquer du sport et découvrir de nouveaux horizons à travers les voyages.

              Disponible pour travailler, Contactez-moi!

              A propos de moi
              Mes projets