@font-face {
    font-family: Sephir ;
    src: url(./assets/fonts/Sephir-Regular.otf);
}

.texte_font {
    font-family: Sephir;
}

.image_header{
    width: 1550px;
    height: 450px;
}


#image_comic , #image_restaurant , #image_voyage {
    width: 300px;
    height: 300px;
}

#boutton_comic {
    position: absolute;
    top: 135%;
    left: 16.5%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

#boutton_restaurant {
    position: absolute;
    top: 135%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

#boutton_voyage {
    position: absolute;
    top: 135%;
    right: 8.5%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);

}

.text-center {
    margin-left: 200px;
    margin-right: 200px;
}
